[data-dpr="1"] .fz-10 {
  font-size: 10px;
}
[data-dpr="2"] .fz-10 {
  font-size: 20px;
}
[data-dpr="3"] .fz-10 {
  font-size: 30px;
}
[data-dpr="1"] .fz-11 {
  font-size: 11px;
}
[data-dpr="2"] .fz-11 {
  font-size: 22px;
}
[data-dpr="3"] .fz-11 {
  font-size: 33px;
}
[data-dpr="1"] .fz-12 {
  font-size: 12px;
}
[data-dpr="2"] .fz-12 {
  font-size: 24px;
}
[data-dpr="3"] .fz-12 {
  font-size: 36px;
}
[data-dpr="1"] .fz-13 {
  font-size: 13px;
}
[data-dpr="2"] .fz-13 {
  font-size: 26px;
}
[data-dpr="3"] .fz-13 {
  font-size: 39px;
}
[data-dpr="1"] .fz-14 {
  font-size: 14px;
}
[data-dpr="2"] .fz-14 {
  font-size: 28px;
}
[data-dpr="3"] .fz-14 {
  font-size: 42px;
}
[data-dpr="1"] .fz-15 {
  font-size: 15px;
}
[data-dpr="2"] .fz-15 {
  font-size: 30px;
}
[data-dpr="3"] .fz-15 {
  font-size: 45px;
}
[data-dpr="1"] .fz-16 {
  font-size: 16px;
}
[data-dpr="2"] .fz-16 {
  font-size: 32px;
}
[data-dpr="3"] .fz-16 {
  font-size: 48px;
}
[data-dpr="1"] .fz-17 {
  font-size: 17px;
}
[data-dpr="2"] .fz-17 {
  font-size: 34px;
}
[data-dpr="3"] .fz-17 {
  font-size: 51px;
}
[data-dpr="1"] .fz-18 {
  font-size: 18px;
}
[data-dpr="2"] .fz-18 {
  font-size: 36px;
}
[data-dpr="3"] .fz-18 {
  font-size: 54px;
}
[data-dpr="1"] .fz-19 {
  font-size: 19px;
}
[data-dpr="2"] .fz-19 {
  font-size: 38px;
}
[data-dpr="3"] .fz-19 {
  font-size: 57px;
}
.cf {
  color: #fff;
}
.c0 {
  color: #000;
}
.c3 {
  color: #333;
}
.c6 {
  color: #666;
}
.c9 {
  color: #999;
}
.ca {
  color: #aaa;
}
.cb {
  color: #bbb;
}
.cc {
  color: #ccc;
}
.cf {
  color: #fff;
}
body {
  background-color: #F8F8F8;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mui-bar-nav {
  box-shadow: none;
}
.mui-action-back {
  color: #2B2B2B;
}
.mui-bar {
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.mui-content {
  position: relative;
  background-color: #fff;
  padding-bottom: 50px;
}
/* flex布局 */
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-jus {
  justify-content: space-between;
}
.flex-aro {
  justify-content: space-around;
}
.flex-center {
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-center {
  align-items: center;
}
.plr-20 {
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
}
.plr-30 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.ptb-20 {
  padding-top: 0.26666667rem;
  padding-bottom: 0.26666667rem;
}
.ptb-30 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.pb-30 {
  padding-bottom: 0.4rem;
}
.mb-20 {
  margin-bottom: 0.26666667rem;
}
.ml-20 {
  margin-left: 0.26666667rem;
}
.ml-30 {
  margin-left: 0.4rem;
}
.btn-xianguang {
  display: block;
  margin: 0 auto;
  width: 9.46666667rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  text-align: center;
  background: linear-gradient(-90deg, #ff485e, #fe745a);
  border-radius: 0.13333333rem;
  color: #fff;
  font-size: 15px;
}
#details-swiper {
  width: 10rem;
  height: 10rem;
}
.details-price {
  padding: 0 0.26666667rem;
  height: 1.2rem;
  background: linear-gradient(-90deg, #ff485e, #fe745a);
}
.details-price ul {
  color: #fff;
}
.details-price ul .left {
  font-size: 18px;
}
.details-price ul .middle {
  margin: 0 0.13333333rem;
  padding: 0 2px;
  height: 0.48rem;
  line-height: 0.48rem;
  border: 1px solid #ffe5e5;
  opacity: 0.5;
  border-radius: 0.02666667rem;
  font-size: 12px;
  text-align: center;
}
.details-price ul .right {
  font-size: 12px;
  color: #ffe5e5;
  text-decoration: line-through;
}
.details-price div {
  font-size: 12px;
  color: #fff;
}
.details-price div span {
  display: inline-block;
  width: 0.46666667rem;
  height: 0.46666667rem;
  line-height: 0.46666667rem;
  background: #f8f8f8;
  color: #FE6F5A;
  text-align: center;
}
.progress-bar {
  width: 2.85333333rem;
  height: 17px;
  background-color: #dedede;
  border-radius: 9px;
  clear: both;
  overflow: hidden;
}
.progress-bar .number {
  margin-left: 5px;
  float: left;
  color: #fff;
  line-height: 1.5em;
}
.progress-bar .percent {
  margin-right: 5px;
  float: right;
  color: #fff;
  line-height: 1.5em;
}
.progress-bar .success {
  float: left;
  width: 100%;
  height: 17px;
  line-height: 18px;
}
.progress-bar .filled {
  height: 100%;
  border-radius: 9px;
  background: linear-gradient(-90deg, #fe7c5a, #ff986e);
}
.draw-tip {
  border-top: 10px solid #F8F8F8;
}
.draw-tip .draw-time {
  display: inline-block;
  width: 1.6rem;
  height: 0.50666667rem;
  line-height: 0.50666667rem;
  border: 1px solid #ff5e5c;
  border-radius: 1px;
  color: #FF5E5C;
  text-align: center;
}
.draw-tip p img {
  width: 0.37333333rem;
}
.draw-tip .proclamation {
  border-top: 1px solid #EEEEEE;
}
.draw-tip .proclamation div {
  background-color: #FFFBF9;
}
.draw-tip .proclamation .left {
  position: relative;
  width: 1.86666667rem;
  height: 60px;
  box-sizing: border-box;
}
.draw-tip .proclamation .left img {
  width: 1.4rem;
}
.draw-tip .proclamation .left::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 33px;
  background-color: #FFE0D4;
  transform: translateY(-50%);
}
#proclamation-tip {
  margin-left: 0.4rem;
  width: 7.2rem;
  height: 41px;
}
.details-nav {
  display: flex;
  justify-content: space-around;
  border-top: 10px solid #f8f8f8;
  border-bottom: 1px solid #eeeeee;
}
.details-nav li {
  height: 40px;
  line-height: 40px;
  width: 1.46666667rem;
  text-align: center;
  color: #999999;
  border-bottom: 2px solid transparent;
}
.details-nav li.on {
  color: #FF5E5C;
  border-color: #FF5E5C;
}
.participation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.participation > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.participation > div img {
  width: 1.33333333rem;
  margin-bottom: 5px;
}
.participation > div p {
  padding: 0 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dram-people {
  position: absolute;
  top: 44px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
}
.dram-people img {
  width: 2.66666667rem;
  height: 2.66666667rem;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
}
.footer-tip {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(-90deg, #fe7c5a, #ff986e);
  text-align: center;
}
.footer-tip.failed {
  background: #999999;
}
.draw-order-nav {
  height: 45px;
  border-bottom: 1px solid #eee;
}
.draw-order-nav li {
  position: relative;
  height: 45px;
  line-height: 45px;
  color: #999999;
}
.draw-order-nav li.on {
  color: #FF5E5C;
}
.draw-order-nav li.on::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1.33333333rem;
  height: 2px;
  background-color: #FF5E5C;
  transform: translateX(-50%);
}
.draw-order > li {
  position: relative;
  border-bottom: 10px solid #F8F8F8;
}
.draw-order > li .draw-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 1.33333333rem;
  height: 1.17333333rem;
}
.draw-order .goods-pic {
  width: 2.26666667rem;
  height: 2.26666667rem;
  border: 1px solid #EEEEEE;
}
.draw-order ul {
  flex: 1;
  margin-left: 0.29333333rem;
}
.draw-order .draw-code {
  margin-top: 10px;
  padding-left: 2.56rem;
}
.draw-order .draw-code p {
  margin-bottom: 5px;
}
.draw-order .status {
  display: inline-block;
  padding: 0 5px;
  color: #FF5E5C;
  border: 1px solid #ffafb5;
  border-radius: 2px;
}
.draw-order .show-code span {
  color: #FEB89D;
}
.btns {
  margin-top: 20px;
  padding-top: 13px;
  border-top: 1px solid #eee;
}
.btns .query-btn {
  margin-right: 5px;
  width: 2.26666667rem;
  height: 28px;
  line-height: 28px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 14px;
}
.btns .confir-btn {
  width: 2.29333333rem;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: linear-gradient(-90deg, #fe7c5a, #ff986e);
  border-radius: 14px;
}
.pay-tip {
  height: 173px;
  background: linear-gradient(90deg, #fe745a, #ff485e);
}
.pay-tip > img {
  width: 1.14666667rem;
  height: 1.14666667rem;
}
.code-list {
  max-height: 250px;
  overflow-y: scroll;
}
.btn-grey {
  display: inline-block;
  width: 4rem;
  height: 40px;
  line-height: 40px;
  border: 1px solid #cccccc;
  border-radius: 20px;
  color: #999;
  text-align: center;
}
.btn-red {
  display: inline-block;
  width: 4rem;
  height: 40px;
  line-height: 40px;
  border: 1px solid #FF5E5C;
  border-radius: 20px;
  color: #FF5E5C;
  text-align: center;
}
#round-nav {
  height: 45px;
  background: linear-gradient(90deg, #fe745a, #ff485e);
}
#round-nav .swiper-slide {
  height: 45px;
  line-height: 45px;
  color: #ffccc8;
  text-align: center;
}
#round-nav .swiper-slide.on {
  font-size: 17px;
  color: #fff;
}
.goods-list {
  display: block;
}
.goods-list li {
  position: relative;
  padding: 0.33333333rem 0.2rem;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.goods-list li:last-child {
  margin-bottom: 0;
}
.goods-list li a > img {
  width: 2.8rem;
  height: 2.8rem;
}
.btn-mini-red,
.btn-mini-red-o,
.btn-mini-disabled,
.btn-mini-success {
  width: 1.70666667rem;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border-radius: 12px;
  box-sizing: border-box;
}
.btn-mini-red {
  color: #fff;
  background: linear-gradient(90deg, #fe745a, #ff485e);
}
.btn-mini-red-o {
  border: 1px solid #FF5E5C;
  color: #FF5E5C;
}
.btn-mini-disabled {
  border: 1px solid #ccc;
  color: #999;
}
.btn-mini-success {
  border: 1px solid #FF946B;
  color: #FF946B;
}
.count-down {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 20px;
  background: linear-gradient(90deg, #fe745a, #ff485e);
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.count-down img {
  margin-right: 0.13333333rem;
  width: 0.32rem;
  height: 0.32rem;
}
